html, body{
    margin: 0%;
    padding: 0%;
}
*{
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 80px;
    background-color: rgb(121, 47, 93);
}
.coteiner{
    display: flex;
    min-height: calc(100vh - 140px);
    font-size: 20px;
}
.sitebar{
    width: 15%;
    background-color: rgb(150, 144, 144);
}
.content{
    width: 100%;
    background-color: bisque;
    padding-left: 25px;
}
.menu {
    padding-top: 10px;
   }
a{
    text-decoration: none;
}

img{
    height: 400px;
    width: 300px;
}

